<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Create employer</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1 th:text="${add} ? 'Create a Employer:' : 'Edit a Employer:'" />
<a th:href="@{/employers}">Back to Employer List</a>
<br/><br/>
<form th:action="${add} ? @{/employer/add} : @{/employer/{employerId}/edit(employerId=${employer.employerId})}"
      th:object="${employer}" method="POST">
    <table border="0">
        <tr>
            <td>Employer Name</td>
            <td>:</td>
            <td><input type="text" th:field="*{employerName}" /></td>
        </tr>
        <tr>
            <td>Address</td>
            <td>:</td>
            <td><input type="text" th:field="*{address}" /></td>
        </tr>
        <tr>
            <td>Email</td>
            <td>:</td>
            <td><input type="text" th:field="*{email}" /></td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>:</td>
            <td><input type="text" th:field="*{phone}" /></td>
        </tr>
    </table>
    <input type="submit" th:value="${add} ? 'Create' : 'Update'" />
</form>

<br/>
<div th:if="${errorMessage}" th:utext="${errorMessage}" class="error" />
</body>
</html>